<!DOCTYPE html>
<html>
<head>
  <title>HardwareStore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
<<<<<<< HEAD
  <%= javascript_include_tag 'application' %>
=======
  <%= javascript_include_tag 'application',%>
>>>>>>> 7b10e9c4621095bada04aa97b32a65bd8fc8bebc
  <%= csrf_meta_tags %>
</head>
<body>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 <%= yield %>

</body>
</html>
